.vscode/
.idea/
.env
.venv/
/logs
__pycache__
/Parsivar
/model-weights
model-weights/
.pynb_checkpoints/
.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
.env
LICENSES/
testing-scripts/
training-scripts/
Parsivar/
model-weights/
wheels/